body{
  box-sizing: border-box;
  background-color: rgb(18, 20, 20);
  color:aliceblue;
}
.body-sun{
  background-color: rgb(198, 218, 235);
  color:rgb(18, 20, 20);
}
#root{
  min-width: 300px;
  height: 100vh;
}
